/*
----ESTILO GENERAL: Sirve para el footer y el navegador fijo, que lo tienen todos los html en común----
*/
*{
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
}
#mainBack{
    background-image: url("../src/fondo3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#menuFijo{
    position: fixed; /*Esto hará que el menú se quede fijo en la posición que se le diga*/
    top:  0%;
    left: 0%;
    width: 100%;
    height: 13vh;
    text-align: center;
    background-color: rgba(220, 220, 220, 0.645);
    border-bottom: solid 3px  rgba(0, 0, 0, 0.147);
    border-radius: 10px;
    line-height: 10%;
    z-index: 4; /*Elevo el z-index para que quede por encima del resto de etiquetas*/
}
#menuFijo ul {
    align-content: center;
    display: inline-block;
    width: 95vw;
    margin-left: 5vw; /*Separación con la imagen, que va a parte.*/
}
#menuFijo ul li{
    top: 1vi;
    position: relative;
    float: left; /*Menú en horizontal*/
    margin-left: 1vw;
    margin-right: 1vw;
}
#menuFijo ul li a{
    text-decoration-line: none;
    color: black;
}
#menuFijo ul li a div{
    background-color: rgba(255, 192, 203, 0.645);
    width: auto;
    min-width: 6vw;
    height: 6vh;
    line-height: 6vh;
    border: solid 1% rgba(255, 192, 203, 0.645);;
    border-radius: 10px;
    color: #F90B6D; 
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 110%;
    transition-duration: 500ms; /*Tanto la duración de esta opción como la de abajo sirven para que tenga un efecto al cambiar de color*/
}
#menuFijo ul li a div:hover{
    background-color: rgba(255, 255, 255, 0.504);
    transition-duration: 500ms;
}
#imagenMenu{
    position: fixed; /*Para que no se mueva, como lo demás*/
    left: 1%;
    height: 8%;
    top: 2%; /*Ajustes para que quede bien con el menú*/
    border:  solid 1px rgba(255, 255, 255, 0.0);
    border-radius: 40px;
    z-index: 4; /*Para que siempre aparezca encima de lo demás y nada lo solape*/
}
main{ /*Por defecto en todos*/
    min-height: 70vh;
    margin: auto;
    margin-top: 10vh;
    width: 100%;
    height: auto;
    margin-bottom: 12vh;
}
section{
    position: relative;
    right: 0;
    top:  10vh;
    width: 80%;
    left: 10%;
    height: auto;
    background-color: rgba(240, 255, 255, 0.493);
    border-radius: 20px;
    min-height: 350px;
}
article{
    position: relative;
    width: 85%;
    height: auto;
    background-color: white;
    padding: 1%;
    border: solid 6px rgba(255, 255, 255, 0.501);
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
footer{
    width: 100%;
    bottom:0;
    height: 10vh;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.804);
    font-size: 70%;
    padding: 0;
    margin-bottom: 0%;
}
.cright{
    text-align: right;
    color:gray;
}
.foot{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}

/*
----Estilo del html de índice----
*/
.indexMain section{ /*Cambio en la sección y en el artículo para darle un toque distinto al índice*/
    position: relative;
    right: 0;
    top:  10vh;
    width: 50%;
    height: auto;
    background-color: rgba(240, 255, 255, 0.493);
    border-radius: 20px;
    min-height: 350px;
    
}
.indexMain article{
    position: relative;
    margin-left: 7%;
    width: 66%;
    height: fit-content;
    background-color: white;
    padding: 5px;
    border: solid 6px rgba(255, 255, 255, 0.501);
    border-radius: 10px;
}
.indexMain article h1{
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;     
    font-size: 150%; 
}
.indexMain article p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: grey;
}

/*Colores de los span:*/
.indexMain .tituloPrincipal{
    color: #845f84;
}
.indexMain .tituloPrincipal2{
    color: #737888;
}


/*
----Estilo del html "¿Quiénes somos?"----
*/

.mapa{
    background-color: rgba(255, 208, 216, 0.852);
    border-color: rgba(255, 206, 213, 0.484);
    position: relative;
    right: 20vh;
    width: 40%;
    height: fit-content;
    font-family: Caveat, cursive, bold;
    font-size: 100%;
    left: 0%; /*Este 0% más el center puesto en el html, hace que el artículo de clase "mapa" (El último artículo de la página) salga en el centro de la sección*/
}
img{
    position: relative;
    border: solid 2px  palevioletred;
}
#foto1{ /*Las siguientes son para colocar las imágenes de los comentarios*/
    left: 20%;
    z-index: 0;
}
#foto2{
    left: 10%;
    z-index: 0;
}
#foto3{
    left: 0%;
    z-index: 0;
}
#foto4{
    left: -15%;
    z-index: 0;
}
#foto1:hover{ /*Todos los hover sirven para resaltar las imágenes sobre las demás.*/
    z-index: 1;
}
#foto2:hover{
    z-index: 1;
}
#foto3:hover{
    z-index: 1;
}
#rrss{ /*Imágenes de red social, simplemente quitarles el borde.*/
    border: none;
}
.presentacion{ /*Todo lo relativo a la clase "Presentación" afecta a las tres secciones donde se ven las trabajadoras del establecimiento*/
    height: fit-content;
    display: flex;
    width: 20vw;
    border-right: 3vw;
    border-left: 3vw;
}
.presentacion img{
    position: relative;
    border: none;
    width: 30%;
    height: 30%;
    border-left: 50%;
}
.presentacion p{
    width: 50%;
}
section ul li {
    position: relative;
    display: inline-block;
}

/*
----Estilo del html "Tratamientos"----
*/
.miniLista{
    width: fit-content;
    top: 6vh;
}
.miniLista legend{
    font-family: "Great Vibes", cursive;
    font-size: 250%;
    font-weight: bolder;
}
.miniLista ul li a{ /*Nivel 1 del submenú*/
    font-family: "Pacifico", cursive;
    font-size: 120%;
    font-weight: 400;
    font-style: normal;
    text-decoration-line: none;
    color: rgb(75, 75, 118);
}
.miniLista ul ul li a{ /*Nivel 2*/
    font-family: "Comic Sans MS", cursive;
    color:#2b122b
}
.miniLista ul ul ul li a{ /*Nivel 3*/
    font-family: "Great Vibes";
    font-weight: bolder;
    font-size: 120%;
    color: #845f84;
}
.miniLista ul ul ul ul li a{ /*Nivel 4*/
    font-family: "Pacifico";
    font-weight: normal;
    font-style: normal;
    color: #4f1a6e;
}
.miniLista a:hover{ /*Al seleccionar el apartado al que ir (hipervinculo), cambiar de color*/
    color: red;
}
.tratamiento1{ /*Pequeños cambios en los articulos del título de los tratamientos*/
    margin-bottom: 0;
    left: 0;
    width: fit-content;
}
.tratamiento1 h2 a{ /*Título de los artíclos principales*/
    font-family: "Pacifico", cursive;
    font-size: 150%;
    font-weight: 400;
    font-style: normal;
    text-decoration-line: none;
    color: rgb(169, 60, 60);
}
article article{ /*Artículos dentro de los artículos (como los tipos de tratamientos faciales)
                   Como no dejan de ser artículos, tienen todo lo relativo a tamaño igual, así que sólo cambio los colores
                   Luego, podría haber usado divs para no hacer tanto lío con dos artículos, pero como tenía previsto otro div dentro de artículos, decidí dejarlo
                 */
    background-color: lavenderblush;
    border-color: lavender;
}
#hiloIMG{
    width: 40vw;
}
#liftingIMG{
    width: 30%;
    height: 30%;
}
#presoIMG{
    height: 40%;
    width: 40%;
}
article div{ /*Para los dos casos de masajes que hay*/
    position: relative;
    left: 5%;
    width: 85%;
    height: auto;
    background-color: white;
    padding: 8px;
    border: solid 6px rgba(255, 255, 255, 0.501);
    border-radius: 10px;
    margin: 10px;
}
#depLaserIMG{
    width: 50%;
}
#depCeraIMG{
    width: 60%;
}
#microDermoIMG{
    width: 50%
}
